EMAIL_NODEMAILER = example@example.es
EMAIL_NODEMAILER_PASSWORD = pass
DATABASE_NAME = example-postgres
DATABASE_USERNAME = postgres
DATABASE_PASSWORD = pass

POSTGRES_DB= example-postgres
POSTGRES_USER= postgres
POSTGRES_PASSWORD= pass
